<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:int-ftp="http://www.springframework.org/schema/integration/ftp"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
        				http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd		
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                        http://www.springframework.org/schema/integration/ftp http://www.springframework.org/schema/integration/ftp/spring-integration-ftp.xsd">
                        
	<description>adapter</description>

	<context:annotation-config />
	<context:component-scan base-package="adapter" use-default-filters="false">
		<context:include-filter type="annotation" expression="com.mcnc.smart.hybrid.adapter.api.Adapter"/>
	</context:component-scan>
	
	<context:component-scan base-package="com.mcnc.smart.hybrid.adapter.impl" use-default-filters="false">
		<context:include-filter type="annotation" expression="com.mcnc.smart.hybrid.adapter.api.Adapter"/>
	</context:component-scan>
	
	<bean id="annotationBeanAdapterLoader" class="com.mcnc.smart.hybrid.adapter.loaders.AnnotationBeanAdapterLoader"/>
	<!-- 
	<bean id="annotationBeanAdapterLoader" class="adapter.CowayAnnotationBeanAdapterLoader"/>
	-->
	<bean id="adapterDispatcher" class="adapter.CowayLoaderAdapterDispatcher">
		<constructor-arg index="0"><ref local="annotationBeanAdapterLoader" /></constructor-arg>
	</bean>
 	<!-- 
	<bean id="adapterDispatcher" class="com.mcnc.smart.hybrid.adapter.dispatcher.LoaderAdapterDispatcher">
		<constructor-arg index="0"><ref local="annotationBeanAdapterLoader" /></constructor-arg>
	</bean>
	-->
		
	<!-- sync db downloader --> 
	<bean id="syncDatabaseDownloader" class="adapter.sync.SyncDataBaseDownloader"/>
	<bean id="syncZipDownloader" class="adapter.sync.SyncZipDownloader"/>
	<!-- image downloader -->
	<bean id="cowayImageDownloader" class="adapter.ftp.CowayImageDownloader"/>
	<bean id="addressImageDownloader" class="adapter.ftp.CowayAddressImageDownloader"/>
	<bean id="installImageDownloader" class="adapter.ftp.CowayInstallImageDownloader"/>
	<bean id="memoImageDownloader" class="adapter.ftp.CowayMemoImageDownloader"/>
	<bean id="goodsImageDownloader" class="adapter.ftp.CowayGoodsImageDownloader"/>
	<bean id="partsImageDownloader" class="adapter.ftp.CowayPartsImageDownloader"/>
	
	
	<!-- Sap Adapter -->
	<bean id="sapAdapter" class="com.mcnc.bizmob.adapter.sap.SAPAdapterImpl" />
	<!-- DB Dao Adapter -->
	<bean id="myBatisDao" class="com.mcnc.bizmob.adapter.db.MyBatisGenericDao" />
	<!-- DB Adapter -->
	<bean id="dbAdapter" class="com.mcnc.bizmob.adapter.db.DBAdapterImpl" />
		
	<!-- dev system 
	<bean id="jcoProps" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
 		<property name="properties">
 			<props>
 				<prop key="jco.client.client">210</prop>
 				<prop key="jco.client.mshost">192.1.1.145</prop>
 				<prop key="jco.client.sysnr">00</prop>
 				<prop key="jco.client.r3name">COD</prop>
 				<prop key="jco.client.group">TITAN</prop>
 				<prop key="jco.client.user">RFCTEST</prop>
 				<prop key="jco.client.passwd">qwer1234</prop>
 				<prop key="jco.client.lang">KO</prop>
 			</props>
 		</property>
 	</bean>	
 	-->
 
 	<!-- QA sap system -->
	<bean id="jcoProps" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
 		<property name="properties">
 			<props>
 				<prop key="jco.client.mshost">192.1.1.149</prop>
 				<prop key="jco.client.sysnr">00</prop>
 				<prop key="jco.client.r3name">COQ</prop>
 				<prop key="jco.client.group">TITAN</prop>
 				<prop key="jco.client.client">100</prop>
 				<prop key="jco.client.user">RFCTEST</prop>
 				<prop key="jco.client.passwd">qwer1234</prop>
 				<prop key="jco.client.lang">KO</prop>
 			</props>
 		</property>
 	</bean> 	

 	<bean id="sapConnector" class="com.mcnc.bizmob.adapter.sap.SapConnector">
		<constructor-arg ref="jcoProps"/>
	</bean>
	
	<!-- ftp connection -->
	<bean id="ftpSessionFactory" class="org.springframework.integration.ftp.session.DefaultFtpSessionFactory">
		<property name="host" value="10.101.1.57"/>
		<property name="port" value="21"/>
		<property name="username" value="ftpuser_smt"/>
		<property name="password" value="tm!ak@xm#"/>
		<property name="clientMode" value="0"/>
		<property name="fileType" value="2"/>
		<property name="bufferSize" value="100000"/>
	</bean>
	
	<bean id="ftpClientService" class="connect.ftp.FtpClientService">
		<property name="ftpSessionFactory" ref="ftpSessionFactory"/>
	</bean>
	
	<aop:aspectj-autoproxy />
	
	<!-- LEGACY AUDIT AOP -->
	<bean class="com.mcnc.bizmob.adapter.aspect.AuditAspect"/>

		
</beans>